CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_LV_USE_FONT_MONTSERRAT_20=y
CONFIG_LV_USE_FONT_MONTSERRAT_32=y
CONFIG_LV_MEM_SIZE=65536
CONFIG_ESP_TASK_WDT=n
CONFIG_I2C_MASTER=y
CONFIG_I2C_SUPPRESS_DEPRECATE_WARN=y
# Настройки LVGL не требуют indev, так как опрос ручной