menu "Wi-Fi SoftAP Configuration"

    config ESP_WIFI_SSID
        string "Wi-Fi SSID"
        default "ESP32_S3_Display"
        help
            Имя сети (SSID), которую будет создавать точка доступа.

    config ESP_WIFI_PASSWORD
        string "Wi-Fi Password"
        default "12345678"
        help
            Пароль для доступа к сети. Оставьте пустым для открытой сети.

    config ESP_WIFI_CHANNEL
        int "Wi-Fi Channel"
        range 1 11
        default 6
        help
            Номер канала Wi-Fi (1-11). По умолчанию 6.

    config ESP_MAX_STA_CONN
        int "Maximum STA connections"
        range 1 10
        default 4
        help
            Максимальное количество одновременно подключённых клиентов (1-10).

endmenu

